<div class="options-container num-bags">
  <div class="subscription-group scrollto-container num-bags">
    <div class="options-header">
      1.SELECT NUMBER OF BAGS PER <span id="gexp1-month">SHIPMENT</span>
    </div>


    <script>
      /*
      ga('send', 'event', 'CustomExperiment', 'avgsubrev-control', {
        'nonInteraction': true,
        'dimension5':  'avgsubrev-control'
      });
      */
      window.ATLAS_DEFAULT_NUM_BAGS = 1;
    </script>
    <div class="need-normal">
      <div class="column col-3">
        <div class="sub-option not-selected" data-type="quantity" data-option="0" data-variant="option1"
          data-variant-option="1 BAG (6oz)" data-display="1 Bag (6oz)">
          <div class="sub-option-description">
            <div class="bag-img">
              <img src="//cdn.shopify.com/s/files/1/0723/6423/t/13/assets/costa_rica_bag.png?v=13092419709316647426"
                alt="half bag" class="option-img half-bag">
            </div>
            <div class="sub-btn large-font"><span>HALF BAG <span class="no-discount">- $9</span>
                <span class="option-summary mobile-show">6oz or ~15 cups</span></span>
            </div>
            <p class="option-summary mobile-hide">
              6oz or ~15 cups
            </p>
            <div class="sub-btn-spacer mobile-hide">
            </div>
          </div>
          <div class="checkmark">
            <i class="icon-ok-2"></i>
          </div>
        </div>
      </div>
      <div class="column col-3">
        <div class="sub-option not-selected" data-type="quantity" data-option="1" data-variant="option1"
          data-variant-option="1 BAG" data-display="1 Bag">
          <div class="sub-option-description">
            <div class="bag-img">
              <img src="//cdn.shopify.com/s/files/1/0723/6423/t/13/assets/costa_rica_bag.png?v=13092419709316647426"
                alt="one bag" class="option-img">
            </div>
            <div class="sub-btn large-font"><span>SINGLE BAG <span class="no-discount">- $14</span>
                <span class="option-summary mobile-show">12oz or ~30 cups</span></span>
            </div>
            <p class="option-summary mobile-hide">
              12oz or ~30 cups
            </p>
            <div class="sub-btn-spacer mobile-hide">
            </div>
          </div>
          <div class="checkmark">
            <i class="icon-ok-2"></i>
          </div>
        </div>
      </div>
      <div class="column col-3">
        <div class="sub-option selected" data-type="quantity" data-option="2" data-variant="option1"
          data-variant-option="2 BAGS" data-display="2 Bags">
          <div class="sub-option-description">
            <div class="bag-img">
              <img src="//cdn.shopify.com/s/files/1/0723/6423/t/13/assets/costa_rica_bag.png?v=13092419709316647426"
                alt="one bag" class="option-img bag1-2">
              <img src="//cdn.shopify.com/s/files/1/0723/6423/t/13/assets/costa_rica_bag.png?v=13092419709316647426"
                alt="one bag" class="option-img bag2-2">
            </div>
            <div class="sub-btn large-font"><span>DOUBLE BAG <span class="no-discount">- $28</span>
                <span class="option-summary mobile-show">24oz or ~60 cups</span>
              </span>
            </div>
            <p class="option-summary mobile-hide">
              24oz or ~60 cups
            </p>
            <div class="sub-btn-spacer mobile-hide">
            </div>
          </div>
          <div class="checkmark">
            <i class="icon-ok-2"></i>
          </div>

        </div>
        <div class="more-options-container">
          <div class="need-normal">
            <a href="#" class="need-more-link">Need More?</a>
          </div>
        </div>
      </div>
    </div>
    <div class="need-more">
      <div class="column col-3">
        <div class="sub-option not-selected" data-type="quantity" data-option="3" data-variant="option1"
          data-variant-option="3 BAGS" data-display="3 Bags">
          <div class="sub-option-description">
            <div class="bag-img count-img">
              <img src="//cdn.shopify.com/s/files/1/0723/6423/t/13/assets/costa_rica_bag.png?v=13092419709316647426"
                alt="three bags" class="option-img">
              <span class="x-count">x</span>
              <span class="bag-count">3</span>
            </div>
            <div class="sub-btn large-font"><span>Three BAGs <span class="no-discount">- $39</span>
                <span class="option-summary mobile-show">36oz or ~90 cups</span></span>
            </div>
            <p class="option-summary mobile-hide">
              36oz or ~90 cups
            </p>
            <div class="sub-btn-spacer mobile-hide">
            </div>
          </div>
          <div class="checkmark">
            <i class="icon-ok-2"></i>
          </div>
        </div>
        <div class="more-options-container mobile-hide">
          <div class="need-more">
            <a href="#" class="need-normal-link">Need Less?</a>
          </div>
        </div>
      </div>
      <div class="column col-3">
        <div class="sub-option not-selected" data-type="quantity" data-option="4" data-variant="option1"
          data-variant-option="4 BAGS" data-display="4 Bags">
          <div class="sub-option-description">
            <div class="bag-img count-img">
              <img src="//cdn.shopify.com/s/files/1/0723/6423/t/13/assets/costa_rica_bag.png?v=13092419709316647426"
                alt="four bags" class="option-img">
              <span class="x-count">x</span>
              <span class="bag-count">4</span>
            </div>
            <div class="sub-btn large-font"><span>Four BAGs <span class="no-discount">- $49</span>
                <span class="option-summary mobile-show">48oz or ~120 cups</span></span>
            </div>
            <p class="option-summary mobile-hide">
              48oz or ~120 cups
            </p>
            <div class="sub-btn-spacer mobile-hide">
            </div>
          </div>
          <div class="checkmark">
            <i class="icon-ok-2"></i>
          </div>
        </div>
      </div>
      <div class="column col-3">
        <div class="sub-option how-often fixed-height" data-modal="">
          <div class="checkmark checkmark-hide"></div>
          <div class="sub-option-description">
            <div class="bag-img count-img no-image">
              <img src="//cdn.shopify.com/s/files/1/0723/6423/t/13/assets/costa_rica_bag.png?v=13092419709316647426"
                alt="custom plan" class="option-img">
              <span class="mobile-hide">Need a<br>custom plan?</span>
            </div>
            <div class="sub-btn large-font">Custom Plan
              <span class="option-summary mobile-show">Clients, office, etc</span>
            </div>
            <p class="option-summary mobile-hide">
              plans for your clients, office, studio, or workshop
            </p>
          </div>
          <div class="checkmark">
            <i class="icon-ok-2"></i>
          </div>
        </div>
        <div class="more-options-container mobile-show">
          <div class="need-more">
            <a href="#" class="need-normal-link">Need Less?</a>
          </div>
        </div>
      </div>
    </div>



    <style>
      .modal {
        display: none;
      }

      .contact-form-wrapper {
        padding-top: 0;
        border-top: inherit;
      }

      .count-img {
        font-size: 27px;
      }

      .count-img>* {
        vertical-align: middle;
        color: #333;
      }

      .x-count {
        // display: inline-block;
        padding-right: 0px;
        // height: 26px
        // font-weight: 700;
        bottom: 0.08em;
        position: relative;
        margin-left: -19px;
      }

      .bag-count {
        font-size: 1.2em;
        padding-right: 10px;
      }

      .sub-option-description .no-image {
        display: flex;
        justify-content: center;
        align-items: center;
        line-height: 1.15em;
        font-size: 25px;
      }

      .x-count {
        padding-right: 0px;
        bottom: 0.08em;
        position: relative;
      }

      .more-options-container {
        margin: 0 auto;
        padding-top: 10px;
      }

      .more-options-container>div {
        text-align: center;
      }

      .no-image img {
        display: none;
        // visibility: hidden;
      }

      .more-options-container a {
        font-size: 15px;
        // text-transform: uppercase;
        text-decoration: underline;
        letter-spacing: 0.08em;
        color: #333;
      }

      .more-options-container a:hover {
        color: #306A8E;
      }

      .need-more,
      .need-less {
        display: none;
      }

      .blocker {
        z-index: 119;
      }

      @media (max-width: 720px) {
        .blocker {
          padding: 0;
        }

        .sub-option.fixed-height {
          height: 106px;
        }

        .sub-option-description .no-image {
          display: none;
        }

        .bag-img.count-img>* {
          padding-right: 0;
        }

        .x-count {
          margin-left: -7px;
        }

        .count-img {
          font-size: 19px;
        }

        .bag-img.count-img {
          font-size: 20px;
          width: 47%;
          width: 30vw;
        }

        .sub-option .count-img img {
          width: 19vw;
        }
      }

      @font-face {
        font-family: 'PaymentFont';
        src: url("//cdn.shopify.com/s/files/1/0723/6423/t/14/assets/paymentfont-webfont.eot?16384");
        src: url("//cdn.shopify.com/s/files/1/0723/6423/t/14/assets/paymentfont-webfont.eot%23iefix?16384") format("embedded-opentype"), url("//cdn.shopify.com/s/files/1/0723/6423/t/14/assets/paymentfont-webfont.woff?16384") format("woff2"), url("//cdn.shopify.com/s/files/1/0723/6423/t/14/assets/paymentfont-webfont.woff?16384") format("woff"), url("//cdn.shopify.com/s/files/1/0723/6423/t/14/assets/paymentfont-webfont.ttf?16384") format("truetype"), url("//cdn.shopify.com/s/files/1/0723/6423/t/14/assets/paymentfont-webfont.svg%23paymentfont-webfont?16384") format("svg");
        font-weight: normal;
        font-style: normal
      }

      .pf {
        display: inline-block;
        font: normal normal normal 14px/1 PaymentFont;
        font-size: inherit;
        text-rendering: auto;
        font-variant: normal;
        text-transform: none;
        -webkit-font-smoothing: antialiased;
        -moz-osx-font-smoothing: grayscale
      }

      .pf-amazon:before {
        content: "\f000"
      }

      .pf-american-express:before {
        content: "\f001"
      }

      .pf-american-express-alt:before {
        content: "\f002"
      }

      .pf-atm:before {
        content: "\f003"
      }

      .pf-bankomat:before {
        content: "\f004"
      }

      .pf-bank-transfer:before {
        content: "\f005"
      }

      .pf-bitcoin:before {
        content: "\f006"
      }

      .pf-bitcoin-sign:before {
        content: "\f007"
      }

      .pf-braintree:before {
        content: "\f008"
      }

      .pf-btc:before {
        content: "\f009"
      }

      .pf-card:before {
        content: "\f00a"
      }

      .pf-carta-si:before {
        content: "\f00b"
      }

      .pf-cash:before {
        content: "\f00c"
      }

      .pf-cash-on-delivery:before {
        content: "\f00d"
      }

      .pf-cb:before {
        content: "\f00e"
      }

      .pf-cirrus:before {
        content: "\f00f"
      }

      .pf-cirrus-alt:before {
        content: "\f010"
      }

      .pf-clickandbuy:before {
        content: "\f011"
      }

      .pf-credit-card:before {
        content: "\f012"
      }

      .pf-diners:before {
        content: "\f013"
      }

      .pf-discover:before {
        content: "\f014"
      }

      .pf-ec:before {
        content: "\f015"
      }

      .pf-eps:before {
        content: "\f016"
      }

      .pf-eur:before {
        content: "\f017"
      }

      .pf-facture:before {
        content: "\f018"
      }

      .pf-fattura:before {
        content: "\f019"
      }

      .pf-flattr:before {
        content: "\f01a"
      }

      .pf-giropay:before {
        content: "\f01b"
      }

      .pf-gittip:before,
      .pf-gratipay:before {
        content: "\f01c"
      }

      .pf-google-wallet:before {
        content: "\f01d"
      }

      .pf-google-wallet-alt:before {
        content: "\f01e"
      }

      .pf-gbp:before {
        content: "\f01f"
      }

      .pf-ideal:before {
        content: "\f020"
      }

      .pf-ils:before {
        content: "\f021"
      }

      .pf-inr:before {
        content: "\f022"
      }

      .pf-invoice:before {
        content: "\f023"
      }

      .pf-invoice-sign:before {
        content: "\f024"
      }

      .pf-invoice-sign-alt:before {
        content: "\f025"
      }

      .pf-invoice-sign-alt-o:before {
        content: "\f026"
      }

      .pf-invoice-sign-o:before {
        content: "\f027"
      }

      .pf-jcb:before {
        content: "\f028"
      }

      .pf-jpy:before {
        content: "\f029"
      }

      .pf-krw:before {
        content: "\f02a"
      }

      .pf-maestro:before {
        content: "\f02b"
      }

      .pf-maestro-alt:before {
        content: "\f02c"
      }

      .pf-mastercard:before {
        content: "\f02d"
      }

      .pf-mastercard-alt:before {
        content: "\f02e"
      }

      .pf-mastercard-securecode:before {
        content: "\f02f"
      }

      .pf-ogone:before {
        content: "\f030"
      }

      .pf-paybox:before {
        content: "\f031"
      }

      .pf-paylife:before {
        content: "\f032"
      }

      .pf-paypal:before {
        content: "\f033"
      }

      .pf-paypal-alt:before {
        content: "\f034"
      }

      .pf-paysafecard:before {
        content: "\f035"
      }

      .pf-postepay:before {
        content: "\f036"
      }

      .pf-quick:before {
        content: "\f037"
      }

      .pf-rechnung:before {
        content: "\f038"
      }

      .pf-ripple:before {
        content: "\f039"
      }

      .pf-rub:before {
        content: "\f03a"
      }

      .pf-skrill:before {
        content: "\f03b"
      }

      .pf-sofort:before {
        content: "\f03c"
      }

      .pf-square:before {
        content: "\f03d"
      }

      .pf-stripe:before {
        content: "\f03e"
      }

      .pf-truste:before {
        content: "\f03f"
      }

      .pf-try:before {
        content: "\f040"
      }

      .pf-unionpay:before {
        content: "\f041"
      }

      .pf-usd:before {
        content: "\f042"
      }

      .pf-verified-by-visa:before {
        content: "\f043"
      }

      .pf-verisign:before {
        content: "\f044"
      }

      .pf-visa:before {
        content: "\f045"
      }

      .pf-visa-electron:before {
        content: "\f046"
      }

      .pf-western-union:before {
        content: "\f047"
      }

      .pf-western-union-alt:before {
        content: "\f048"
      }

      .pf-wirecard:before {
        content: "\f049"
      }

      .pf-sepa:before {
        content: "\f04a"
      }

      .pf-sepa-alt:before {
        content: "\f04b"
      }

      .pf-apple-pay:before {
        content: "\f04c"
      }

      .pf-interac:before {
        content: "\f04d"
      }

      .pf-paymill:before {
        content: "\f04e"
      }

      .pf-dankort:before {
        content: "\f04f"
      }

      .pf-bancontact-mister-cash:before {
        content: "\f050"
      }

      .pf-moip:before {
        content: "\f051"
      }

      .pf-pagseguro:before {
        content: "\f052"
      }

      .pf-cash-on-pickup:before {
        content: "\f053"
      }

      .pf-sage:before {
        content: "\f054"
      }

      .pf-elo:before {
        content: "\f055"
      }

      .pf-elo-alt:before {
        content: "\f056"
      }

      .pf-payu:before {
        content: "\f057"
      }

      .pf-mercado-pago:before {
        content: "\f058"
      }

      .pf-mercado-pago-sign:before {
        content: "\f059"
      }

      .pf-payshop:before {
        content: "\f05a"
      }

      .pf-multibanco:before {
        content: "\f05b"
      }

      .pf-gratipay-sign:before {
        content: "\f05c"
      }

      .pf-six:before {
        content: "\f05d"
      }

      .pf-cashcloud:before {
        content: "\f05e"
      }

      @keyframes fa-spin {
        0% {
          transform: rotate(0deg)
        }

        100% {
          transform: rotate(360deg)
        }
      }

      .fa-spin {
        -webkit-animation: fa-spin 2s infinite linear;
        animation: fa-spin 2s infinite linear
      }

      .fa-pulse {
        -webkit-animation: fa-spin 1s infinite steps(8);
        animation: fa-spin 1s infinite steps(8);
        display: inline-block
      }

      .spinner {
        display: none;
        opacity: 0;
        width: 0;
        -webkit-transition: opacity 0.25s, width 0.25s;
        -moz-transition: opacity 0.25s, width 0.25s;
        -o-transition: opacity 0.25s, width 0.25s;
        transition: opacity 0.25s, width 0.25s
      }

      .has-spinner {
        font-size: 20px
      }

      .has-spinner .default {
        display: inherit
      }

      .has-spinner .loading {
        display: none
      }

      .options-container {
        float: left;
        -webkit-flex-grow: 100;
        -moz-flex-grow: 100;
        flex-grow: 100
      }

      @media (max-width: 1080px) {
        .options-container {
          float: none
        }
      }

      .summary-all.scrollto-container.show-bottom {
        max-width: 500px;
        width: 100%
      }

      .checkout-line.totalprice,
      .checkout-line.shipping {
        margin-top: 0;
        font-weight: 900;
        font-size: 13px
      }

      .rte-sub .summary-all {
        max-width: 320px
      }

      @media (max-width: 720px) {
        .rte-sub .summary-all {
          padding: 8px
        }
      }

      @media (max-width: 1020px) {
        .rte-sub .summary-all {
          padding: 0 15px;
          width: 100%;
          max-width: 500px
        }
      }

      .summary-all-sm {
        display: none
      }

      @media (max-width: 1080px) {
        .summary-all-sm {
          display: none
        }

        .summary-all-sm>div {
          width: 100%
        }
      }

      .summary-sticky {
        padding: 0 10px
      }

      .summary-sticky .order-summary-block {
        max-width: 303px
      }

      @media (max-width: 1020px) {
        .summary-sticky {
          padding: 0
        }
      }

      .summary-sticky>div {
        width: 100%
      }

      @media (max-width: 1080px) {
        .summary-sticky>div {
          width: 100%
        }
      }

      .summary-right-block-box {
        width: 60%;
        background: #eee;
        border-radius: 5px;
        border: 1.4px #ddd solid;
        padding-bottom: 10px
      }

      @media (max-width: 720px) {
        .summary-right-block-box {
          width: 100%
        }
      }

      .summary-below-block-box {
        width: 60%;
        background: #244A5A;
        border-top: #fff;
        border-top-width: thin;
        border-top-style: solid;
        background: #eee;
        border-radius: 5px;
        border: 1.4px #ddd solid
      }

      @media (max-width: 720px) {
        .summary-below-block-box {
          width: 100%
        }
      }

      .order-summary.checkout-line {
        width: 253px;
        font-size: 15px;
        font-weight: 700
      }

      .order-summary.checkout-line.gexp1 {
        width: 303px;
        font-size: 12px
      }

      @media (max-width: 320px) {
        .order-summary.checkout-line.gexp1 {
          width: 253px
        }
      }

      .order-summary.checkout-line .desc {
        text-align: left;
        float: left
      }

      .order-summary.checkout-line .detail {
        text-align: right;
        display: block
      }

      .order-summary {
        text-align: center;
        text-transform: uppercase;
        font-size: 20px;
        letter-spacing: 0.03em;
        font-family: lato;
        padding: 0px 15px 0px 15px;
        font-weight: 600;
        color: #433d3d;
        line-height: .95em;
        margin-bottom: 10px;
        margin-top: 15px
      }

      @media (max-width: 720px) {
        .order-summary {
          font-size: 18px
        }
      }

      .text-block-sub {
        display: inline-block;
        font-family: lato;
        font-size: 13px;
        letter-spacing: 0.15em;
        font-weight: 300;
        line-height: 1.9em;
        color: #4986a4;
        width: 50%
      }

      .text-block-sub.summary-right {
        float: left
      }

      .text-block-sub.summary-left {
        text-align: right
      }

      .left-text-block-sub {
        display: inline-block;
        font-family: lato;
        font-size: 13px;
        letter-spacing: 0.15em;
        font-weight: 300;
        line-height: 1.9em;
        color: white
      }

      .summary-all .left-text-block-sub {
        padding-left: 15px
      }

      .right-text-block-sub {
        float: left;
        text-align: right;
        display: inline-block;
        width: 50%;
        font-family: lato;
        font-size: 13px;
        letter-spacing: 0.15em;
        font-weight: 300;
        color: white;
        line-height: 1.9em
      }

      .center-text-block-sub {
        text-align: center;
        margin: 1.6% 0px 0px 0px;
        font-family: lato;
        font-size: 13px;
        letter-spacing: 0.10em;
        font-weight: 800;
        color: white;
        line-height: 1.7em
      }

      .product-wrap-sub {
        font-family: lato;
        font-size: 14px;
        letter-spacing: .1em;
        font-weight: 600
      }

      .option-header {
        margin-top: 7px
      }

      .order-summary-block {
        padding: 0 15px
      }

      .order-summary-catagory {
        font-size: 12px;
        font-family: lato;
        color: #393939
      }

      .product-price2 {
        font-size: 16px;
        font-family: lato;
        color: #3b5464
      }

      .product-price3 {
        font-size: 17px;
        font-family: lato;
        color: white;
        letter-spacing: .01em
      }

      .product-details-sub {
        margin-top: 0;
        font-size: 12px
      }

      .product-details-sub .selected {
        text-align: center
      }

      @media (max-width: 720px) {
        .product-details-sub {
          font-size: 11px
        }
      }

      @media (max-width: 720px) {
        .order-summary-catagory-sub {
          margin-top: -6px
        }
      }

      @media (max-width: 720px) {
        .height-adjust {
          height: 30px
        }
      }

      .selection-div-text-price {
        height: 21px;
        display: -webkit-flex;
        display: flex;
        margin: 26px
      }

      .text-sub-price {
        font-size: 12px;
        letter-spacing: 0.10em;
        color: #5F5757;
        font-weight: 500;
        line-height: 1.5em
      }

      @media (max-width: 720px) {
        .text-sub-price {
          font-size: 9px;
          line-height: 0em
        }
      }

      .shelf2 {
        background: #fff;
        height: 50px;
        left: 0px;
        width: 100%
      }

      @media (max-width: 720px) {
        .shelf2 {
          display: none
        }
      }

      [class*="template-product-sub_"] .main-content {
        background-color: #fafafa
      }

      .main-sub-options {
        padding: 40px 28px;
        -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
        max-width: 1150px;
        margin: 0 auto
      }

      .main-sub-options .rte-sub {
        display: -webkit-box;
        display: -moz-box;
        display: -ms-flexbox;
        display: -webkit-flex;
        display: flex;
        -webkit-flex-wrap: wrap;
        -moz-flex-wrap: wrap;
        flex-wrap: wrap
      }

      .try-world-block {
        max-width: 574px;
        margin: 0 auto;
        text-transform: uppercase
      }

      .try-world-block span {
        vertical-align: middle
      }

      .sub-btn {
        width: 80%;
        margin: 15px 20px 0 20px;
        text-align: center;
        text-transform: uppercase;
        font-family: lato;
        color: #444;
        font-size: 14px;
        letter-spacing: 0.11em;
        font-weight: 600;
        padding: 6.5px 5px;
        cursor: pointer;
        border: 1px #ddd solid;
        border-radius: 3px;
        display: flex;
        align-items: center;
        justify-content: center
      }

      .sub-btn i {
        font-size: 15px
      }

      .col-2 .sub-btn {
        width: 60%
      }

      @media (min-width: 721px) {
        .selected .sub-btn {
          background: #e2c800;
          color: #fff;
          border: 1px #aaa20e solid
        }
      }

      .sub-btn.button-checkout {
        margin-top: 10px;
        margin-bottom: 15px;
        width: auto;
        padding: 10.5px 23px;
        display: inline-block;
        background: #236e96;
        border: 1px #ffffff solid;
        border-radius: 5px;
        color: #fff
      }

      @media (max-width: 720px) {
        .sub-btn.button-checkout {
          font-size: 14px
        }
      }

      .sub-option[data-type="option1"] .sub-btn {
        min-height: 64px
      }

      @media (max-width: 720px) {
        .sub-btn {
          font-size: 16px
        }

        .subscription-group .sub-btn {
          margin: 1px;
          border: none;
          padding: 0;
          display: inline-flex;
          width: auto
        }

        .no-images .sub-btn {
          margin: 10px 1px
        }
      }

      .options-header {
        text-align: left;
        font-size: 30px;
        letter-spacing: 0.15em;
        font-family: inherit;
        font-weight: 700;
        color: #2e2e2c;
        line-height: 0.95em;
        padding-bottom: 5px;
        margin-bottom: 2px;
        border-bottom: double #CCC
      }

      @media (max-width: 1020px) {
        .options-header {
          font-size: 26px
        }
      }

      @media (max-width: 720px) {
        .options-header {
          text-align: center;
          font-size: 24px;
          line-height: 1.3em;
          letter-spacing: 0.08em;
          border-bottom: none;
          padding: 0 16px
        }
      }

      .subscription-group {
        margin-bottom: 50px;
        overflow: auto;
        zoom: 1
      }

      .subscription-group .column {
        float: left;
        padding: 8px
      }

      .subscription-group .column.full {
        width: 100%
      }

      .subscription-group .column.col-4 {
        width: 25%
      }

      @media (max-width: 1020px) {
        .subscription-group .column.col-4 {
          width: 50%
        }
      }

      .subscription-group .column.col-3 {
        width: 33.33333%
      }

      @media (max-width: 720px) {
        .subscription-group .column.col-3 {
          width: 100%
        }
      }

      .subscription-group .column.col-2 {
        width: 50%
      }

      @media (max-width: 720px) {
        .subscription-group .column.col-2 {
          width: 100%
        }
      }

      .pay-options .pf {
        font-size: 20px;
        color: #393939
      }

      div.sub-option-description {
        width: 100%
      }

      @media (max-width: 720px) {
        div.sub-option-description {
          width: inherit;
          margin-left: 5px;
          margin-right: 5px
        }
      }

      .checkmark {
        display: none;
        margin: 10px 12px 10px 0 !important;
        width: 30px;
        height: 30px;
        line-height: 30px;
        font-size: 15px;
        border: 1px solid;
        border-radius: 100%;
        text-align: center
      }

      .checkmark.checkmark-hide,
      .selected .checkmark.checkmark-hide {
        visibility: hidden;
        border: none;
        opacity: 0
      }

      @media (max-width: 720px) {
        .checkmark {
          display: block;
          visibility: hidden;
          border: none;
          opacity: 0;
          font-size: 16px
        }

        .selected .checkmark {
          visibility: visible;
          opacity: 1;
          border: 1px solid
        }
      }

      .sub-option[data-type="shipping_interval_frequency"] {
        min-height: 77px
      }

      .sub-option {
        display: -webkit-box;
        display: -moz-box;
        display: -ms-flexbox;
        display: -webkit-flex;
        display: flex;
        justify-content: space-between;
        align-items: center;
        text-align: center;
        -webkit-touch-callout: none;
        -webkit-user-select: none;
        padding: 2px;
        cursor: pointer;
        position: relative;
        opacity: 0.5;
        filter: alpha(opacity=50)
      }

      .no-touch .sub-option:hover img {
        -webkit-transform: scale(1.05);
        transform: scale(1.05)
      }

      @media (min-width: 721px) {
        .sub-option:hover .sub-btn {
          border: 1px #aaa20e solid
        }
      }

      .sub-option:hover img {
        -webkit-transform: scale(1);
        transform: scale(1)
      }

      .sub-option img {
        max-width: 100%
      }

      @media (max-width: 720px) {
        .sub-option img {
          max-width: 100%
        }
      }

      .sub-option.selected,
      .no-touch .sub-option:hover {
        opacity: 1.0;
        filter: alpha(opacity=100)
      }

      @media (max-width: 720px) {
        .sub-option {
          -webkit-box-shadow: 1px 1px 4px 0px rgba(50, 50, 50, 0.75);
          -moz-box-shadow: 1px 1px 4px 0px rgba(50, 50, 50, 0.75);
          box-shadow: 1px 1px 4px 0px rgba(50, 50, 50, 0.75);
          padding-left: 0px;
          padding-top: 0px;
          padding-bottom: 0px;
          text-align: start
        }

        .col-4>.sub-option {
          min-height: 140px
        }

        .no-images .sub-option {
          text-align: center
        }

        .sub-option img {
          padding-right: 7px;
          vertical-align: middle;
          display: inline-block;
          width: 20%;
          width: 23vw
        }

        .sub-option .sub-btn-spacer {
          min-height: 10px
        }
      }

      .sub-option .option-name {
        margin: 8px 0px
      }

      .sub-option .discount {
        color: #fc6161;
        padding-bottom: 4px
      }

      .sub-option .option-summary {
        margin: 0;
        font-size: 11.5px;
        margin-top: 3px;
        color: #444;
        letter-spacing: .1em
      }

      .sub-option .option-summary.price {
        font-style: normal;
        color: #3d3838;
        letter-spacing: .07em;
        padding-top: 5px
      }

      @media (max-width: 720px) {
        .sub-option .option-summary.mobile-hide {
          display: none
        }
      }

      @media (max-width: 720px) {
        .main-sub-options {
          padding: 0;
          padding-top: 20px
        }
      }

      .total-price {
        color: #4986a4;
        line-height: 1.1em;
        font-size: 12.5px
      }

      .total-price .money {
        line-height: 1.3em
      }

      .option-value {
        text-transform: uppercase
      }

      .guarantee-list-item {
        text-transform: uppercase
      }

      .guarantee-list-item img {
        vertical-align: middle;
        margin-right: 2px
      }

      @media (max-width: 720px) {
        .guarantee-list-item img {
          width: 13px
        }
      }

      .summary-all .summary-right-block-box .order-summary-breakline {
        padding-bottom: 10px;
        border-bottom: #808080 1px solid
      }

    </style>

    <script>
      $(function () {
        if ($('.contact-form.success-message').length >= 1) {
          $('#custom-plan-modal').modal().css({ display: 'inline-block' });
        }
        $('.sub-option[data-modal]').click(function (event) {
          $('#custom-plan-modal').modal().css({ display: 'inline-block' });
          // $('#custom-plan-modal');
          return false;
        });

        $(".need-more-link").click(function () {
          $('.need-normal').hide(400);
          $('.need-more').show(400);
          return false;
        });

        $(".need-normal-link").click(function () {

          $('.need-less').hide(400);
          $('.need-more').hide(400);
          $('.need-normal').show(400);
          return false;
        })

        $(".need-less-link").click(function () {
          $('.need-normal').hide(400);
          $('.need-less').show(400);
          return false;
        });
      })

    </script>
    <!--div class="column col-3">
        <div class="sub-option" data-type="quantity" data-option="3" data-variant="option1" data-variant-option="3 BAGS" data-display="3 Bags">
          <div class="checkmark checkmark-hide"></div>
          <div class="sub-option-description">
            <div class="sub-btn large-font">3 BAGS - $39</div>
            <p class="option-summary">
              36oz or ~90 cups
            </p>
            <div class="sub-btn-spacer">
            </div>
          </div>
          <div class="checkmark">
            <i class="icon-ok-2"></i>
          </div>
        </div>
      </div-->
  </div>
  <div class="subscription-group scrollto-container no-images gexp1-hide">
    <div class="options-header">
      2.SELECT HOW OFTEN YOU'LL RECEIVE IT
    </div>
    <div class="column col-2">
      <div class="sub-option how-often selected" data-type="shipping_interval_frequency" data-option="2"
        data-display="EVERY 2 WEEKS">
        <div class="checkmark checkmark-hide"></div>
        <div class="sub-option-description">
          <div class="sub-btn">
            Every 2 Weeks <span class="mobile-hide" data-tooltip="Coffee changes each month"><i
                class="icon-info-circled"></i></span>
          </div>
          <p class="option-summary">
            <span class="mobile-hide">&nbsp;</span>
            <span class="mobile-show">*Coffee changes each month</span>
          </p>
          <div class="sub-btn-spacer">
          </div>
        </div>
        <div class="checkmark">
          <i class="icon-ok-2"></i>
        </div>
      </div>
    </div>
    <div class="column col-2">
      <div class="sub-option not-selected" data-type="shipping_interval_frequency" data-option="4"
        data-display="EVERY 4 WEEKS">
        <div class="checkmark checkmark-hide"></div>
        <div class="sub-option-description">
          <div class="sub-btn">Every 4 Weeks</div>
          <p class="option-summary mobile-hide">&nbsp;</p>
          <div class="sub-btn-spacer mobile-hide"></div>
        </div>
        <div class="checkmark">
          <i class="icon-ok-2"></i>
        </div>
      </div>
    </div>
  </div>
  <div class="subscription-group scrollto-container">
    <div class="options-header">
      3.SELECT YOUR <span class="mobile-break">ROAST PREFERENCE</span>
    </div>
    <div class="column col-3">
      <div class="sub-option not-selected" data-type="roast" data-option="LIGHT/MEDIUM" data-variant="option3"
        data-variant-option="LIGHT TO MEDIUM">
        <div class="sub-option-description">
          <img class="option-img"
            src="//cdn.shopify.com/s/files/1/0723/6423/t/13/assets/light_whole_bean.png?v=942417695901123686"
            data-src="//cdn.shopify.com/s/files/1/0723/6423/t/13/assets/light_whole_bean.png?v=942417695901123686"
            alt="light whole bean">
          <div class="sub-btn">LIGHT TO MEDIUM</div>
          <p class="option-summary mobile-hide">
            fruit, berry, citrus, chocolate
          </p>
        </div>
        <div class="checkmark">
          <i class="icon-ok-2"></i>
        </div>
      </div>
    </div>
    <div class="column col-3">
      <div class="sub-option selected" data-type="roast" data-option="MEDIUM/DARK" data-variant="option3"
        data-variant-option="MEDIUM TO DARK">
        <div class="sub-option-description">
          <img class="option-img"
            src="//cdn.shopify.com/s/files/1/0723/6423/t/13/assets/medium_whole_bean.png?v=15572431368647660099"
            data-src="//cdn.shopify.com/s/files/1/0723/6423/t/13/assets/medium_whole_bean.png?v=15572431368647660099"
            alt="medium whole bean">
          <div class="sub-btn">MEDIUM TO DARK</div>
          <p class="option-summary mobile-hide">
            chocolate, bold, rich, full-body
          </p>
        </div>
        <div class="checkmark">
          <i class="icon-ok-2"></i>
        </div>
      </div>
    </div>
    <div class="column col-3">
      <div class="sub-option not-selected" data-type="roast" data-option="ALL ROAST TYPES" data-variant="option3"
        data-variant-option="ALL ROASTS">
        <div class="sub-option-description">
          <img class="option-img"
            src="//cdn.shopify.com/s/files/1/0723/6423/t/13/assets/all_whole_bean.png?v=10953828558335310810"
            data-src="//cdn.shopify.com/s/files/1/0723/6423/t/13/assets/all_whole_bean.png?v=10953828558335310810"
            alt="all whole bean">
          <div class="sub-btn">ALL ROAST TYPES</div>
          <p class="option-summary mobile-hide">
            variety of flavor &amp; roast profiles
          </p>
        </div>
        <div class="checkmark">
          <i class="icon-ok-2"></i>
        </div>
      </div>
    </div>
  </div>
  <div class="subscription-group scrollto-container">
    <div class="options-header">
      4.SELECT YOUR <span class="mobile-break">GRIND TYPE</span>
    </div>
    <div class="column col-2">
      <div class="sub-option selected" data-type="grind" data-option="WHOLE BEAN" data-variant="option2"
        data-variant-option="WHOLE BEAN">
        <div class="sub-option-description">
          <img class="option-img"
            src="//cdn.shopify.com/s/files/1/0723/6423/t/13/assets/whole_bean_option.png?v=17120073056786445316"
            data-src="//cdn.shopify.com/s/files/1/0723/6423/t/13/assets/whole_bean_option.png?v=17120073056786445316"
            alt="whole bean coffee">
          <div class="sub-btn">Whole Bean</div>
        </div>
        <div class="checkmark">
          <i class="icon-ok-2"></i>
        </div>
      </div>
    </div>
    <div class="column col-2">
      <div class="sub-option not-selected" data-type="grind" data-option="GROUND" data-variant="option2"
        data-variant-option="GROUND">
        <div class="sub-option-description">
          <img class="option-img"
            src="//cdn.shopify.com/s/files/1/0723/6423/t/13/assets/ground_coffee.png?v=9581644275261461962"
            data-src="//cdn.shopify.com/s/files/1/0723/6423/t/13/assets/ground_coffee.png?v=9581644275261461962"
            alt="ground coffee">
          <div class="sub-btn">Ground</div>
        </div>
        <div class="checkmark">
          <i class="icon-ok-2"></i>
        </div>
        <p class="option-summary mobile-hide">
        </p>
      </div>
    </div>
  </div>
</div>
